/* Generic Selectors */
body
{
    /*background-image: url("../imgs/Aperture Science.png");*/
    /*background-position: center;*/
    /*background-color: #000000;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    
    font-family: "Times New Roman";
    padding-left: 140px;
    padding-right: 140px;
}

.new_post_on_public_question
{
    color: #FFFFFF;
    background-color: #33DD33;
}

.new_post_on_public_question a:visited,
.public_question a:visited
{
    
}

.new_post_on_public_question a:hover,
.public_question a:hover
{
    color: #FFFFFF;
}


.private_question a:visited
{
    
}
.private_question a:hover
{
    color: #AAAAAA;
}

.new_post_on_public_question div,
.private_question div,
.public_question div
{
    text-align: right;
    font-size: 12px;
}

.private_question
{
}
.public_question
{
    background-color: #BBBBBB;
}

/* A single tab usful for pushing text a small distance */
.tab
{
    padding-left: 44px;
}

.tableheader
{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #D5BFFF;
}

.post_info
{
    font-weight: bold;
    font-size: 10px;
    padding-left: 22px;
}

.comment
{
    font-size: 14px;
    padding-left: 44px;
    padding-top: 4px;
    padding-bottom: 8px;
    background-color: #DDDDDD;
}

.paragraph_buffer
{
    padding-top: 15px;
}

/* The base mako div's for links */
#footer
{
    
}

#link_header
{
    
}