Current Requirements to use Kusinwolf's Python files

-- Everything
Python 2.5
/ Version 3 will explode currently, unsure if all the code will port

-- PylonsApps/*
SQLAlchemy 0.5.0beta3
/ Currently 0.5.0beta 4 is out, I am not entirely sure that everything works between the two versions

Pylons 0.9.6.2
/ Version 9.7 or higher will explode because of the differences in the structures of the language

Komodo Edit 4.4 or higher (5.0 is nice)
/ Suggested for opening the *.kpf files with the project, otherwise build your own project file