body {
    #background-color: #8A41E1;
    background-color: #222266;
    #color: #000000;
    color: #FFFFFF;
}

img{
    
}

.head {
    text-align: center;
    color: #41D4E1;
}

.emails {
    
}

.contact_name {
    
}