/* Generic Selectors */
body {
    background-image: url("../imgs/Aperture Science.png");
    background-position: center;
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    font-family: "Times New Roman";
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}

p {
    width: 80%;
}

li {
    list-style-type: none;
    line-height: 150%;
    list-style-image: url(../images/arrowSmall.gif);
}

h1 {
    font-size: 36px;
    text-align: center;
}

h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    border-bottom: 1px solid #C6EC8C;
}

/**************** Pseudo classes ****************/
a:link {
    color: #80B1FF;
    text-decoration: underline;
    font-weight: bold;
    text-decoration: none
}

a:visited {
    color: #BFD8FF;
    text-decoration: underline;
    font-weight: bold;
    text-decoration: none
}

a:hover {
    color: #003486;
    padding-bottom: 5px;
    font-weight: bold;
    text-decoration: underline;
}

a:active {
    color: rgb(255, 0, 102);
    font-weight: bold;
    text-decoration: underline
}

input {
    border-style: hidden;
}

input:hover {
    color: #A700A7;
    border-color: #000;
    border-style: hidden;
}

input:focus {
    color: #CF00CF;
}

/************************* ID's *************************/
#addevent {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #AAA;
    color: #000;
    text-align: left;
    border: ridge;
    border-color: #4444FF;
}
#addevent-title {
    text-align: center;
}
#addevent-type {
    text-align: center;
}
#addevent-text {
    background-color: #DDD;
    color: #000;
    border: groove;
}

#footer{
    margin-left: 20%;
    margin-right: 20%;
}

/* A single tab usful for pushing text a small distance */
.tab {
    padding-left: 44px;
}

.tab-half {
    padding-left: 22px;
}



